<div class="p-3 bg-white min-vh-100">

    <a class="text-decoration-none color-brand-blue" href="https://dlnp.jinr.ru">Лаборатория ядерных проблем им. В. П. Джелепова</a>
    <a class="text-decoration-none color-brand-blue" href="https://www.jinr.ru">Объединенный институт ядерных исследований</a>
    <h1 class="color-brand-blue">Лаборатория ядерных проблем им. В. П. Джелепова</h1>

    <h1 class="color-brand-blue">Dzhelepov Laboratory</h1>

    <p class="fw-bold color-brand-blue">Style Guide</p>
</div>