<div class="d-flex flex-column flex-xl-row flex-wrap mb-5 mt-5 mt-lg-0">
<div class="me-4" style="flex:1;">
    <p class="mb-1">
        Deca Sans Regular</p>
    <p>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>

    <p class="fst-italic mb-1">Deca Sans Italic</p>
    <p class="fst-italic">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>

    <p class="fw-bold mb-1">Deca Sans Medium</p>
    <p class="fw-bold">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>

    <p class="fw-bold fst-italic mb-1">Deca Sans Medium Italic</p>
    <p class="fw-bold fst-italic">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>

    <p class="fw-bolder mb-1">Deca Sans Bold</p>
    <p class="fw-bolder">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>

    <p class="fw-bolder fst-italic mb-1">Deca Sans Bold Italic</p>
    <p class="fw-bolder fst-italic">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>
</div>
<div class="font_serif me-4" style="flex:1;">
    <p class="mb-1">
        Deca Serif Regular</p>
    <p>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>

    <p class="fst-italic mb-1">Deca Serif Italic</p>
    <p class="fst-italic">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>
    <p class="fw-bolder mb-1">Deca Serif Bold</p>
    <p class="fw-bolder">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>

    <p class="fw-bolder fst-italic mb-1">Deca Serif Bold Italic</p>
    <p class="fw-bolder fst-italic">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        1234567890<br>
    </p>
</div>

<div style="flex:1; min-width: 30%;">
    <p>
        <strong>Deca Sans</strong> — это малоконтрастный текстовый гуманистический гротеск строгого рисунка, с овалами, тяготеющими к
        прямоугольной форме. Хорошо читается в мелких кеглях и может быть c успехом использован для набора научных,
        юридических,
        официальных и деловых текстов.</p>

    <p><strong>Deca Serif New</strong> — это строгая малоконтрастная текстовая антиква переходного типа достаточно узких пропорций, с
        оквадраченной формой овалов. Шрифт хорошо читается в мелких кеглях и подходит для набора научных, юридических,
        официальных и деловых текстов.</p>
        <a href="https://dlnp.jinr.ru/ru/dokumenty/shrifty-deca/download" 
        class="btn text-white text-decoration-none text-white">Download</a>
       
</div>
</div>