<div class="d-flex gap-3  my-5">
    <div class="font_rubik" style="flex: 1;">
        <p class="mb-1 fw-light">Rubik Sans New Regular</p>
        <p class="fw-light" >
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class="fst-italic fw-light mb-1">Rubik Sans New Italic</p>
        <p class="fst-italic fw-light">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class="mb-1">Rubik Sans Regular</p>
        <p>
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class="fst-italic mb-1">Rubik Sans Regular Italic</p>
        <p class="fst-italic">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class=" mb-1" style="font-weight: 500;">Rubik Sans Medium</p>
        <p class="" style="font-weight: 500;">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class="mb-1 fst-italic" style="font-weight: 500;">Rubik Sans Medium Italic</p>
        <p class="fst-italic" style="font-weight: 500;">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    </div>

    <div class="font_rubik" style="flex: 1;">
        <p class="fw-bold mb-1">Rubic Sans Bold</p>
        <p class="fw-bold">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class="fw-bolder fst-italic mb-1" >Rubic Sans Bold Italic</p>
        <p class="fw-bolder fst-italic" >
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class="mb-1" style="font-weight: 900;">Rubik Sans New Bold</p>
        <p style="font-weight: 900;">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
    
        <p class=" fst-italic mb-1" style="font-weight: 900;">Rubik Sans New Bold Italic</p>
        <p class=" fst-italic" style="font-weight: 900;">
            ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890<br>
        </p>
        <button class="btn deca text-white"><a class="text-decoration-none text-white" target="_blanc" href="https://fonts.google.com/specimen/Rubik">Download</a></button>
    </div>