<div class="d-lg-flex mb-5">
    <div class=" pe-lg-5" style="flex:1">


        <h4 class="mb-4 color-brand-dark-blue">Шрифты</h4>

        <h5>Для бренда Лаборатории была выбрана и приобретена гарнитура <strong>Deca</strong> от компании Paratype,
            разработанная в 2010 г.</h5>

        <button class="btn text-white">
            <a routerLink="deca" routerLinkActive="active" class="text-decoration-none text-white">Deca</a>
        </button>

        <p>Это супергарнитура, состоящая из 10 шрифтов — 6 гротесков (шрифты без засечек, или рубленные шрифты, которые
            подходят для логотипа, заголовков, и коротких текстовых блоков) и 4 антикв (шрифты с засечками, которые
            используются для набора длинных текстов, для книг, в том числе интерактивных).</p>

        <p>Эти шрифты имеют низкий контраст и чистый дизайн, овальные элементы чуть приближены к прямоугольным. Они
            хорошо
            читаются в мелком наборе и хорошо смотрятся в крупных заголовках. Идеальны для научных и официальных
            документов.
            Буквы имеют немного исторический стиль, что важно в нашем случае, потому что Лаборатория имеет богатую
            историю,
            и бренд должен ее транслировать.</p>

        <hr>

        <p>В дополнение была выбрана гарнитура Rubik</p>
        <button class="btn text-white">
            <a routerLink="rubik" routerLinkActive="active" class="text-decoration-none text-white">Rubik</a>
        </button>


    </div>
    <div class="d-none d-lg-block border-start"></div>
    <div class="ms-lg-5 mt-5 mt-lg-0" style="flex:1">
        <h4 class="mb-4 color-brand-dark-blue">Установка</h4>

        <p>Как устанавливать шрифты на операционной системе Windows:</p>
        <ul>
            <li>Скопируйте файлы с расширением <strong>otf</strong> в отдельную папку на диск C.</li>
            <li>Выделите файлы. При нажатии правой кнопки мыши появится выпадающее меню. Выберите «Установить». </li>
        </ul>
        <p>Как устанавливать шрифты на iPad:</p>
        <ul>
            <li>Скопируйте файлы с расширением <strong>otf</strong>.</li>
            <li>Загрузите приложение
                <a href="https://apps.apple.com/us/app/ifont-find-install-any-font/id1173222289">
                    iFont из App Store</a> и с его помощью установите шрифты.
            </li>
        </ul>

        <p> Гарнитуру Rubik можно загрузить с
            <a href="https://fonts.google.com/specimen/Rubik">Google Fonts</a> и установить аналогичным образом.
        </p>

        <h4 class="mb-4 mt-5 color-brand-dark-blue">Использование</h4>
        <p>Гарнитура (набор шрифтов) Deca приобретена ОИЯИ, и ОИЯИ является обладателем лицензии на ее использование в
            следующих случаях:
        </p>
        <ul>
            <li>Deca Serif New (все 4 начертания) — вид лицензии: «Десктоп», «Веб»</li>
            <li>Deca Sans (все 6 начертаний) — вид лицензии: «Десктоп», «Веб»</li>
        </ul>
        <p>
            Лицензия «Десктоп» дает возможность использовать шрифты в презентациях, при наборе официальных документов.
            Лицензия «Веб» позволяет использовать шрифты на сайтах, относящихся к ОИЯИ: сайты лабораторий,
            подразделений,
            отделов и т.п.
        </p>
        <p>Также для шрифтов были приобретены дополнительные лицензии для использования в заставках видеороликов (вид
            лицензии «Аудиовизуальное произведение») и для логотипов (вид лицензии «Лого»)
        </p>
        <ul>
            <li>Deca Sans Bold — вид лицензии: «Лого», «Аудиовизуальное произведение»</li>
            <li>Deca Sans Medium — вид лицензии: «Лого»</li>
            <li>Deca Sans Regular — вид лицензии: «Лого», «Аудиовизуальное произведение»</li>
        </ul>
        <p>Полностью с лицензией можно ознакомится в следующем документе.</p>
        <button class="btn text-white">
            <a routerLinkActive="active" class="text-decoration-none text-white"
                href="https://dlnp.jinr.ru/ru/dokumenty/litsenziya-na-shrifty/download">License</a>
        </button>
    </div>
</div>