<div class="colors w-100 mb-5 pb-5">
    <h2 class="color-dark-blue p-5">Цвета / Colours</h2>
    <div class="color-wrapper d-flex">
        <div class="main-colors d-grid gap-3">

            <!--div class="d-flex gap-3 justify-content-end"-->
                <h4 class="color-blue" style="grid-area:title">Primary</h4>

                <div class="d-flex flex-column gap-3" style="grid-area:blue">
                    <div class="color d-flex bg-blue align-items-end p-2">
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process Blue U</p>
                    </div>
                    <div>
                        <p>RGB&nbsp;0&nbsp;131&nbsp;195<br>
                            HEX/HTML&nbsp;0083C3<br>
                            CMYK&nbsp;100&nbsp;27&nbsp;0&nbsp;2</p>
                    </div>
                </div>
            <!--/div-->

            <!--div class="d-flex gap-3" style="grid-area:primary2"-->
                <div class="d-flex flex-column gap-3" style="grid-area:black">
                    <div class="color bg-black">
                    </div>
                    <div>
                        <p>RGB&nbsp;50&nbsp;42&nbsp;41<br>
                            HEX/HTML&nbsp;332A29<br>
                            CMYK&nbsp;60&nbsp;60&nbsp;54&nbsp;75</p>
                    </div>
                </div>

                <div class="d-flex flex-column gap-3"style="grid-area:white">
                    <div class="color border border-brand-dark-gray">
                    </div>
                    <div>
                        <p>RGB&nbsp;255&nbsp;255&nbsp;255<br>
                            HEX/HTML&nbsp;FFFFFF<br>
                            CMYK&nbsp;0&nbsp;0&nbsp;0&nbsp;0</p>
                    </div>
                </div>
            <!--/div-->

            <div class="my-4 d-flex flex-column gap-3" style="grid-area: primary3;">
                <div class="mini-color-wrapper d-flex gap-3 justify-content-end">
                    <div class="d-flex align-items-end">
                        <p class="text-lg-end m-0">RGB&nbsp;0&nbsp;131&nbsp;195<br>
                            HEX/HTML&nbsp;0083C3<br>
                            CMYK&nbsp;100&nbsp;27&nbsp;0&nbsp;2</p>
                    </div>
                    <div class="mini-color bg-blue d-flex flex-column justify-content-between p-2">
                        <p class="text-white text-end m-0">100%</p>
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process Blue U</p>
                    </div>
                </div>

                <div class="mini-color-wrapper d-flex gap-3 justify-content-end">
                    <div class="d-flex align-items-end">
                        <p class="text-lg-end m-0">RGB&nbsp;51&nbsp;155&nbsp;212<br>
                            HEX/HTML&nbsp;339BD4<br>
                            CMYK&nbsp;80&nbsp;22&nbsp;0&nbsp;2</p>
                    </div>
                    <div class="mini-color bg-blue-80 p-2">
                        <p class="text-white text-end m-0">80%</p>
                    </div>
                </div>

                <div class="mini-color-wrapper d-flex gap-3 justify-content-end">
                    <div class="d-flex align-items-end">
                        <p class="text-lg-end m-0">RGB&nbsp;102&nbsp;180&nbsp;223<br>
                            HEX/HTML&nbsp;66B4DF<br>
                            CMYK&nbsp;60&nbsp;16&nbsp;0&nbsp;1</p>
                    </div>
                    <div class="mini-color bg-blue-60 p-2">
                        <p class="text-white text-end m-0">60%</p>
                    </div>
                </div>

                <div class="mini-color-wrapper d-flex gap-3 justify-content-end">
                    <div class="d-flex align-items-end">
                        <p class="text-lg-end m-0">RGB&nbsp;153&nbsp;205&nbsp;233<br>
                            HEX/HTML&nbsp;99CDE9<br>
                            CMYK&nbsp;40&nbsp;11&nbsp;0&nbsp;1</p>
                    </div>
                    <div class="mini-color bg-blue-40 p-2">
                        <p class="text-white text-end m-0">40%</p>
                    </div>
                </div>

                <div class="mini-color-wrapper d-flex gap-3 justify-content-end">
                    <div class="d-flex align-items-end">
                        <p class="text-lg-end m-0">RGB&nbsp;204&nbsp;230&nbsp;244<br>
                            HEX/HTML&nbsp;CCE6F4<br>
                            CMYK&nbsp;20&nbsp;50&nbsp;0&nbsp;0</p>
                    </div>
                    <div class="mini-color bg-blue-20 p-2">
                        <p class="text-white text-end m-0">20%</p>
                    </div>
                </div>
            </div>

            <div class="mt-4 d-flex flex-column gap-3" style="grid-area: primary4;">
                <div class="mini-color-wrapper2 d-flex gap-3">
                    <div class="mini-color bg-black d-flex flex-column justify-content-between p-2">
                        <p class="text-white text-end m-0">100%</p>
                    </div>
                    <div class="d-flex align-items-end">
                        <p class="m-0">RGB&nbsp;50&nbsp;42&nbsp;41<br>
                            HEX/HTML&nbsp;322A29<br>
                            CMYK&nbsp;60&nbsp;60&nbsp;54&nbsp;75</p>
                    </div>
                </div>

                <div class="mini-color-wrapper2 d-flex gap-3">
                    <div class="mini-color bg-dark-gray p-2">
                        <p class="text-white text-end m-0">80%</p>
                    </div>
                    <div class="d-flex align-items-end">
                        <p class="m-0">RGB&nbsp;91&nbsp;85&nbsp;84<br>
                            HEX/HTML&nbsp;5B5554<br>
                            CMYK&nbsp;48&nbsp;48&nbsp;45&nbsp;57</p>
                    </div>
                </div>

                <div class="mini-color-wrapper2 d-flex gap-3">
                    <div class="mini-color bg-gray p-2">
                        <p class="text-white text-end m-0">60%</p>
                    </div>
                    <div class="d-flex align-items-end">
                        <p class="m-0">RGB&nbsp;132&nbsp;132&nbsp;127<br>
                            HEX/HTML&nbsp;847F7F<br>
                            CMYK&nbsp;34&nbsp;34&nbsp;32&nbsp;39</p>
                    </div>
                </div>

                <div class="mini-color-wrapper2 d-flex gap-3">
                    <div class="mini-color bg-light-gray p-2">
                        <p class="text-white text-end m-0">40%</p>
                    </div>
                    <div class="d-flex align-items-end">
                        <p class="m-0">RGB&nbsp;173&nbsp;170&nbsp;169<br>
                            HEX/HTML&nbsp;ADAAA9<br>
                            CMYK&nbsp;22&nbsp;22&nbsp;20&nbsp;26</p>
                    </div>
                </div>

                <div class="mini-color-wrapper2 d-flex gap-3">
                    <div class="mini-color bg-gray-20 p-2">
                        <p class="text-white text-end m-0">20%</p>
                    </div>
                    <div class="d-flex align-items-end">
                        <p class="m-0">RGB&nbsp;214&nbsp;212&nbsp;212<br>
                            HEX/HTML&nbsp;D6D4D4<br>
                            CMYK&nbsp;9&nbsp;9&nbsp;8&nbsp;12</p>
                    </div>
                </div>
            </div>

            <div class="section d-flex gap-3 mt-5 justify-content-end" style="grid-area:secondary1">
                <h4 class="color-violet" style="min-width: 150px;">Secondary</h4>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-dark-blue"></div>
                    <p>RGB&nbsp;0&nbsp;85&nbsp;150<br>
                        HEX/HTML&nbsp;005596<br>
                        CMYK&nbsp;100&nbsp;54&nbsp;0&nbsp;20</p>
                </div>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-green d-flex align-items-end p-2">
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process 389 U</p>
                    </div>
                    <p>RGB&nbsp;189&nbsp;220&nbsp;4<br>
                        HEX/HTML&nbsp;BDDC04<br>
                        CMYK&nbsp;20&nbsp;0&nbsp;98&nbsp;0</p>
                </div>
            </div>

            <div class="section d-flex gap-3 mt-5" style="grid-area:secondary2">
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-violet d-flex align-items-end p-2">
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process 273 U</p>
                    </div>
                    <p>RGB&nbsp;100&nbsp;93&nbsp;155<br>
                        HEX/HTML&nbsp;645D9B<br>
                        CMYK&nbsp;83&nbsp;85&nbsp;0&nbsp;0</p>
                </div>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-dark-violet"></div>
                    <p>RGB&nbsp;55&nbsp;51&nbsp;108<br>
                        HEX/HTML&nbsp;37336C<br>
                        CMYK&nbsp;93&nbsp;89&nbsp;24&nbsp;13<br>
                    </p>
                </div>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-blue-20"></div>
                    <p>RGB&nbsp;204&nbsp;230&nbsp;244<br>
                        HEX/HTML&nbsp;CCE6F4<br>
                        CMYK&nbsp;20&nbsp;5&nbsp;0&nbsp;0<br>
                    </p>
                </div>
            </div>

            <div class="section d-flex gap-3 mt-5 justify-content-end" style="grid-area:additional1">
                <h4 class="color-orange" style="min-width: 150px;">Additional</h4>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-sun d-flex align-items-end p-2">
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process 109 U</p>
                    </div>
                    <p>RGB&nbsp;255&nbsp;199&nbsp;0<br>
                        HEX/HTML&nbsp;FFC700<br>
                        CMYK&nbsp;0&nbsp;9&nbsp;100&nbsp;0</p>
                </div>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-red d-flex align-items-end p-2">
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process 199 U</p>
                    </div>
                    <p>RGB&nbsp;221&nbsp;80&nbsp;97<br>
                        HEX/HTML&nbsp;DD5061<br>
                        CMYK&nbsp;0&nbsp;97&nbsp;72&nbsp;0</p>
                </div>
            </div>
            <div class="section d-flex gap-3 mt-5" style="grid-area:additional2">
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-orange d-flex align-items-end p-2">
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process 2018 U</p>
                    </div>
                    <p>RGB&nbsp;255&nbsp;138&nbsp;64<br>
                        HEX/HTML&nbsp;FF8A40<br>
                        CMYK&nbsp;0&nbsp;49&nbsp;98&nbsp;0</p>
                </div>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-light-gray d-flex align-items-end p-2">
                        <p class="text-white m-0"><span>PANTONE</span><br>
                            Process 409 U</p>
                    </div>
                    <p>RGB&nbsp;148&nbsp;139&nbsp;138<br>
                        HEX/HTML&nbsp;948B8A<br>
                        CMYK&nbsp;34&nbsp;34&nbsp;32&nbsp;19<br>
                    </p>
                </div>
                <div class="d-flex flex-column gap-3">
                    <div class="color2 bg-dark-gray"></div>
                    <p>RGB&nbsp;81&nbsp;69&nbsp;67<br>
                        HEX/HTML&nbsp;514543<br>
                        CMYK&nbsp;55&nbsp;55&nbsp;52&nbsp;55<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="color-dark-blue mt-5 p-5">Примеры сочетания цветов / Examples of colour combinations</h2>
    <div class="combinations d-grid gap-3">
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2806.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2807.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2808.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2809.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2810.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2811.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2812.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2813.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2817.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2816.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2815.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2814.svg"></svg-icon>
        </div>
    </div>

    <h2 class="color-dark-blue mt-5 p-5">Неудачные сочетания цветов / Examples of bad colour combinations</h2>
    <div class="combinations d-grid gap-3">
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2831.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2832.svg"></svg-icon>
        </div>
        <div class="mb-3">
            <svg-icon src="assets\img\combinations\Group 2833.svg"></svg-icon>
        </div>
        <div>
            <svg-icon src="assets\img\combinations\Group 2834.svg"></svg-icon>
        </div>
    </div>
</div>


<!--div id="colors" class="colors d-grid  gap-2 my-5 fs-6" >
    <div style="grid-area:tbg" class="d-none d-md-block">Black and greys</div>
    <div style="grid-area:tsun" class="color-sun">Additional</div>
    <div style="grid-area:tred" class="color-red">Additional</div>
    <div style="grid-area:tblue" class="color-blue">Primary</div>
    <div style="grid-area:tviolet" class="color-light-violet">Secondary</div>
    <div style="grid-area:tgreen" class="color-green">Secondary</div>
    <div style="grid-area:tgray" class="color-gray">Primary</div>
    <div style="grid-area:torange" class="color-orange">Additional</div>
    <div style="grid-area:lightblue" class="bg-light-blue text-white px-2 py-3 d-grid">
        <p class="d-flex align-items-end h-100">P — Light<br>
            HEX/HTML 5ab2f6
        </p>
    </div>
    <div style="grid-area:lightviolet" class="bg-light-violet text-white px-2 py-3 d-grid">
        <p class="d-flex align-items-end h-100">S — Light<br>
            HEX/HTML 938acc
        </p>
    </div>
    <div></div>
    <div style="grid-area:lightgray" class="bg-light-gray text-white px-2 py-3 d-grid">
        <p class="d-flex align-items-end h-100">P&nbsp;—&nbsp;Light<br>
            HEX/HTML&nbsp;c4bbba</p>
    </div>
    <div style="grid-area:black" class="bg-black d-none d-md-block"></div>
    <div style="grid-area:sun" class="bg-sun px-2 py-3 d-grid">
        <p class="text-black">
            PANTONE&nbsp;109&nbsp;U<br>
            RGB&nbsp;255&nbsp;199&nbsp;0<br>
            HEX/HTML&nbsp;FFC700 <br>
            CMYK&nbsp;0&nbsp;9&nbsp;100&nbsp;0</p>
        <p class="text-white text-center d-flex justify-content-center align-items-center h-100">
            <strong>A</strong>
        </p>
        <p class="text-white">
            PANTONE&nbsp;109&nbsp;U<br>
            RGB&nbsp;255&nbsp;199&nbsp;0<br>
            HEX/HTML&nbsp;FFC700 <br>
            CMYK&nbsp;0&nbsp;9&nbsp;100&nbsp;0</p>
    </div>
    <div style="grid-area:red" class="bg-red px-2 py-3 d-grid">
        <p class="text-black">
            PANTONE&nbsp;199&nbsp;U<br>
            RGB&nbsp;221&nbsp;80&nbsp;97<br>
            HEX/HTML&nbsp;DD5061<br>
            CMYK&nbsp;0&nbsp;97&nbsp;72&nbsp;0</p>
        <p class="text-white text-center d-flex justify-content-center align-items-center h-100">
            <strong>A</strong>
        </p>
        <p class="text-white">
            PANTONE&nbsp;199&nbsp;U<br>
            RGB&nbsp;221&nbsp;80&nbsp;97<br>
            HEX/HTML&nbsp;DD5061<br>
            CMYK&nbsp;0&nbsp;97&nbsp;72&nbsp;0</p>
    </div>
    <div style="grid-area:blue" class="bg-blue px-2 py-3 d-grid">
        <p class="text-black">
            PANTONE<br>
            Process&nbsp;Blue&nbsp;U<br>
            RGB&nbsp;0&nbsp;131&nbsp;195<br>
            HEX/HTML&nbsp;0083C3<br>
            CMYK&nbsp;100&nbsp;27&nbsp;0&nbsp;2</p>
        <p class="color-blue text-center d-flex justify-content-center align-items-center h-100">
            <strong><span class="border border-trans border-black rounded-circle bg-black px-1">P</span></strong>
        </p>
        <p class="text-white">
            PANTONE<br>
            Process&nbsp;Blue&nbsp;U<br>
            RGB&nbsp;0&nbsp;131&nbsp;195<br>
            HEX/HTML&nbsp;0083C3<br>
            CMYK&nbsp;100&nbsp;27&nbsp;0&nbsp;2</p>
    </div>
    <div style="grid-area:violet" class="bg-violet px-2 py-3 d-grid">
        <p class="text-black">
            PANTONE&nbsp;273&nbsp;U<br>
            RGB&nbsp;100&nbsp;93&nbsp;155<br>
            HEX/HTML&nbsp;645D9B<br>
            CMYK&nbsp;83&nbsp;85&nbsp;0&nbsp;0</p>
        <p class="text-white text-center d-flex justify-content-center align-items-center h-100">
            <strong><span class="border rounded-circle px-1">S</span></strong>
        </p>
        <p class="text-white">
            PANTONE&nbsp;273&nbsp;U<br>
            RGB&nbsp;100&nbsp;93&nbsp;155<br>
            HEX/HTML&nbsp;645D9B<br>
            CMYK&nbsp;83&nbsp;85&nbsp;0&nbsp;0</p>
    </div>
    <div style="grid-area:green" class="bg-green px-2 py-3 d-grid">
        <p class="text-black">
            PANTONE&nbsp;389&nbsp;U<br>
            RGB&nbsp;189&nbsp;220&nbsp;4<br>
            HEX/HTML&nbsp;BDDC04<br>
            CMYK&nbsp;20&nbsp;0&nbsp;98&nbsp;0</p>
        <p class="text-white text-center d-flex justify-content-center align-items-center h-100">
            <strong><span class="border rounded-circle px-1">S</span></strong>
        </p>
        <p class="text-white">
            PANTONE&nbsp;389&nbsp;U<br>
            RGB&nbsp;189&nbsp;220&nbsp;4<br>
            HEX/HTML&nbsp;BDDC04<br>
            CMYK&nbsp;20&nbsp;0&nbsp;98&nbsp;0</p>
    </div>
    <div style="grid-area:gray" class="bg-gray px-2 py-3 d-grid">
        <p class="text-black">
            PANTONE&nbsp;409&nbsp;U<br>
            RGB&nbsp;148&nbsp;139&nbsp;138<br>
            HEX/HTML&nbsp;948B8A<br>
            CMYK&nbsp;34&nbsp;34&nbsp;32&nbsp;19</p>
        <p class="text-white text-center d-flex justify-content-center align-items-center h-100">
            <strong><span class="border border-trans border-black rounded-circle bg-black px-1">P</span></strong>
        </p>
        <p class="text-white">
            PANTONE&nbsp;409&nbsp;U<br>
            RGB&nbsp;148&nbsp;139&nbsp;138<br>
            HEX/HTML&nbsp;948B8A<br>
            CMYK&nbsp;34&nbsp;34&nbsp;32&nbsp;19</p>
    </div>
    <div style="grid-area:orange" class="bg-orange px-2 py-3 d-grid">
        <p class="text-black">
            PANTONE&nbsp;2018&nbsp;U<br>
            RGB&nbsp;255&nbsp;138&nbsp;64<br>
            HEX/HTML&nbsp;FF8A40 <br>
            CMYK&nbsp;0&nbsp;49&nbsp;98&nbsp;0</p>
        <p class="text-white text-center d-flex justify-content-center align-items-center h-100">
            <strong>A</strong>
        </p>
        <p class="text-white">
            PANTONE&nbsp;2018&nbsp;U<br>
            RGB&nbsp;255&nbsp;138&nbsp;64<br>
            HEX/HTML&nbsp;FF8A40<br>
            CMYK&nbsp;0&nbsp;49&nbsp;98&nbsp;0</p>
    </div>
    <div style="grid-area:gray600" class="bg-gray-600 d-none d-md-block"></div>
    <div></div>
    <div></div>
    <div style="grid-area:darkblue" class="bg-dark-blue px-2 py-3">
        <p class="text-white">
            P&nbsp;—&nbsp;Dark<br>
            HEX/HTML&nbsp;005792</p>
    </div>
    <div style="grid-area:darkviolet" class="bg-dark-violet px-2 py-3">
        <p class="text-white">
            S&nbsp;—&nbsp;Dark<br>
            HEX/HTML 37336c</p>
    </div>
    <div style="grid-area:darkgreen" class="bg-dark-green px-2 py-3">
        <p class="text-white">
            S&nbsp;—&nbsp;Dark<br>
            HEX/HTML&nbsp;88aa00</p>
    </div>
    <div style="grid-area:darkgray" class="bg-dark-gray px-2 py-3">
        <p class="text-white">
            P&nbsp;—&nbsp;Dark<br>
            HEX/HTML&nbsp;665e5d</p>
    </div>
    <div style="grid-area:gray400" class="bg-gray-400 d-none d-md-block"></div>
    <div style="grid-area:white" class="border d-none d-md-block"></div>
    <div style="grid-area:tgrad">Gradients</div>
    <div style="grid-area:grad1" ><img src="assets/img/gradient1.svg"></div>
    <div style="grid-area:grad2" ><img src="assets/img/gradient2.svg"></div>
    <div style="grid-area:grad3" ><img src="assets/img/gradient3.svg"></div>
    <div style="grid-area:grad4" ><img src="assets/img/gradient4.svg"></div>
    
</div-->