<div class="templates">
    <h4 class="color-brand-dark-blue mb-4">Шаблоны презентаций</h4>
    <div class="templates d-grid gap-3">
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1631883353256.jpg">
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-sinij-anglijskij/download"
                class="btn text-white text-decoration-none text-white">Download (blue&nbsp;eng)</a>
        </div>
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1631883353262.jpg">
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-sinij-russkij/download"
                class="btn text-white text-decoration-none text-white">Download (blue&nbsp;rus)</a>
        </div>
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1631883353278.jpg">            
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-seryj-anglijskij/download" 
                class="btn text-white text-decoration-none text-white">Download (gray&nbsp;eng)</a>            
        </div>
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1631883353267.jpg">      
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-seryj-russkij/download"
                class="btn text-white text-decoration-none text-white">Download (gray&nbsp;rus)</a>          
        </div>
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1631883353274.jpg">
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-krasnyj-anglijskij/download"
                class="btn text-white text-decoration-none text-white">Download (red&nbsp;eng)</a>
        </div>
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1631883353270.jpg">
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-krasnyj-russkij/download"
                class="btn text-white text-decoration-none text-white">Download (red&nbsp;rus)</a>
        </div>
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1632122137186.jpg">
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-zelenyj-anglijskij/download"
                class="btn text-white text-decoration-none text-white">Download (green&nbsp;eng)</a>
        </div>
        <div>
            <img class="img-fluid border border-brand-light-gray" src="assets/img/templates/1632122137194.jpg">
                <a href="https://dlnp.jinr.ru/ru/dokumenty/shablon-prezentatsii-zelenyj-russkij/download"
                class="btn text-white text-decoration-none text-white">Download (green&nbsp;rus)</a>
        </div>
    </div>
</div>