<div class="logos w-100 d-flex justify-content-end align-items-end ">
    <div class="d-flex flex-column flex-xl-row me-3">
        <div class="d-flex align-items-center order-xl-1">
            <svg-icon class="me-3" src="assets/img/jinr_logo.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon>
            <a class="text-decoration-none color-brand-blue" href="https://www.jinr.ru" rel="nofollow">
                Объединенный&nbsp;институт
                ядерных&nbsp;исследований</a>
        </div>
        <div class="d-flex align-items-center order-xl-0 me-3">
            <svg-icon class="me-3" src="assets/img/dlnp_logo_classic.svg" [svgStyle]="{ 'width.px':75 }"></svg-icon>
            <a class="text-decoration-none color-brand-blue" href="https://dlnp.jinr.ru" rel="nofollow">
                Лаборатория&nbsp;ядерных&nbsp;проблем
                им.&nbsp;В.&nbsp;П.&nbsp;Джелепова</a>
        </div>
    </div>
</div>