<mat-sidenav-container autosize>
  <!--main-->

  <!--div class="main-content d-flex w-100" style="position:relative;"-->

  <!--div id="sidebar">
      <app-menu class="min-vh-100"></app-menu>
    </div-->

  <mat-sidenav #snav fixedInViewport="true" mode="side" opened >
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="content" class="content d-flex">
      <div class="d-flex w-100">
        <div class="d-flex flex-column flex-grow-1 border-end min-vh-100"
        style="height: fit-content; width: calc(100vw - 280px - 150px);">
          <div class="m-xl-4 p-xl-5 m-3">
            <app-logos></app-logos>
          </div>

          <div class="inner-content mx-lg-5 px-lg-5 h-0 m-4 h-100" >
            <div>
              <router-outlet ></router-outlet>
            </div>
          </div>
        </div>
      </div>

      <!--div class="d-none d-lg-block px-5"></div-->
    </div>
  </mat-sidenav-content>
  <mat-divider class="d-none d-lg-block px-5"></mat-divider>
  <!--/div>
</main-->
</mat-sidenav-container>