<div class=" mt-5 mt-lg-0">
<h3 class="mb-5" style="max-width: 500px;">Как философия Лаборатории
    транслируется посредством бренда 
    и&nbsp;элементами дизайна</h3>
<p><strong>1. Личность бренда, тон</strong><br>
    Серьезный, научный, наполненный фактами, исследовательский, формальный, образовательный,
    исторический, ясный, понятный, увлекательный.
</p>
<p> <strong>2. Ключевые слова</strong><br>
    Физика, ядерная физика, исследования, наука, нейтрино, осцилляция нейтрино, нейтринные исследования,
    физика частиц, радиотерапия, элементарные частицы, физические явления, пространственные измерения,
    темная материя, эволюция вселенной, ядерная материя, нуклоны.
</p>
<p>
    <strong> 3. Ценность</strong><br>
    Честность, качество, инновационность.
</p></div>